body {
    font-family: Palatino, Georgia, serif;
    background-color: #FFFFFF;
}


.titre {
    margin-bottom: 120px;
}

.titre p {
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
    opacity: 1;
}

h1 {
    font-size: 38px;
    text-align: center;
    font-weight: lighter;
    margin-top: 15px;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p {
    color: black;
    line-height: 32px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a {
    color: grey;
}

a:hover {
    color: black;
}
